# Database
POSTGRES_USER=rec_user
POSTGRES_PASSWORD=rec_pass
POSTGRES_DB=rec_db
DATABASE_URL="postgresql://rec_user:rec_pass@localhost:5432/rec_db"

# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-production-use-openssl-rand-base64-32
